build/*
.DS_Store
Resources/lib/*
node_modules
node_modules/grunt-newer/.cache/coffee/compile_multiple_files/timestamp
dist
src/lib/setting.coffee
Resources/lib/setting.js
tiapp.xml
# 自动保存(vim)
*.swp
*.swo
*.swn

#没什么用
plugins/ti.alloy/hooks/*
android/build/
